.wrapper {
    display: flex;
    flex: 1;
    z-index: 1;
}

.sidebar-wrapper {
    position: fixed;

    padding: 20px;

    box-shadow: 7px 0 60px rgba(0,0,0,.05);
    height: calc(100vh - var(--header-height));
    min-width: 250px;
    background-color: var(--white);

    a {
        width: 100%;
        height: 100%;
    }


    .header {
        color: var(--primary);
        font-size: 2rem;
        span {
            font-weight: 700;
        }
    }

    .sidebar-items {
        // background-color: red;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        // gap: 10px;
        padding-top: 20px;
        width: 100%;
        gap: 5px;

        .sidebaritem-wrapper {
            // background-color: var(--primary);
            cursor: pointer;
            transition: color .2s ease-out;
            user-select: none;


            &.isChose {
                .sidebar-parent {
                    .sidebaritem-info {
                        
                        .sidebaritem-title {
                            font-weight: 700;
                        }
                        
                        .icon {
                            color: var(--black);
                        }


                    }
                    // .icon-open {
                    //     transform: rotate(-180deg);
                    // }
                }
                

            }

           

            .sidebar-parent {
                padding: 10px 5px;
                border-radius: 9px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: background-color .3s ease-out;
                span, .icon, .icon-open {
                    transition: all .2s ease-out;
                }
                &:hover {
                    span, .icon, .icon-open {
                        color: var(--primary) !important;
                    }
                    background-color: #b9686c5b;
    
                    
                }

                .icon-open.rotate {
                    transform: rotate(-180deg);
                }

                
            }

            
            .sidebar-parent {

                .sidebaritem-info {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    width: 100%;
                    
                    .icon {
                        font-size: 2rem;
                        color: rgba(0, 0, 0, 0.507);
                    }
                    span {
                        font-size: 1.7rem;
                        font-weight: 400;
                    }

                }
                .icon-open {
                    font-size: 1.1rem;
                    color: rgba(0, 0, 0, 0.459)
                }
            }
        }

        .sub-items {
            height: 0px;
            overflow: hidden;

            // position: absolute;
            background-color: var(--white);
            top: 100%;
            left: -5px;
            width: 100%;
            padding-left: 19px;
            transition: height .2s ease-in;
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: var(--primary);
                border-radius: 10px;
            }

            &.open {
                display: inline-flex;
                flex-direction: column;
                height: auto;
                gap: 10px;
            }

            .sub-item {
                a {
                    padding: 5px;
                    padding-left: 20px;

                }
                // background-color: blue;
                display: flex;
                justify-content: flex-start;
                align-items: center ;
                border-radius: 0 10px 10px 0;


                &.sub-chose {
                    background-color: #b9686c1e;
                    font-weight: 500;

                }

                &:hover {
                    a {
                        color: var(--primary);
                    }
                    background-color: #b9686c1e;
                }
            }
        }

    }

}

.main {
    margin-left: 250px;
    min-height: 200vh;
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}