.wrapper {
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    z-index: 99;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;

    &.fixed {
        top: 0;
        left: 0;
        background-color: var(--white);
        animation: headerOver .5s linear;
        overflow: hidden;
    }
    

    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;

        .logo {
            height: 40px;
            img {
                height: 100%;
                width: auto;
            }
        }
        .nav {
            display: flex;
            align-items: center;
            gap: 100px;
            nav {
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 30px;
                align-items: center;
            }

            .register {
                .btn {
                    background-color: var(--primary);
                    color: var(--white);
                    padding: 15px 24px;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    font-weight: 600;
                    font-size: 1.6rem;
                    border-radius: 10px;
                    transition: all .5s ease-out;

                    .icon {
                        transition: all .5s ease-out;
                    }

                    &:hover {
                        background-color: var(--black);
                        .icon {
                            transform: translateX(10px);
                            
                        }
                    }
                }
            }
            
        }
    }
}

@keyframes headerOver {
    from {
        height: 0px;
    }
    to {
        height: 80px;
    }
}