.banner-wrapper {
    width: 100%;
    margin: 0 auto;
    .container {
        position: relative;

        height: calc(100vh - 94px);
        .banner-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
        .healthcare-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-size: 15rem;
            font-weight: 700;
            z-index: 1;
            line-height: 15rem;
            span {
                font-weight: 700;
            }
        }
        .banner-sm-image {
            position: absolute;
        }
        .img1 {
            top: 70%;
            left: 5%;
        }
        .img2 {
            top: 50%;
            right: 20%;
        }
        .img3 {
            top: 30%;
            left: 70%;
        }
        .img4 {
            top: 10%;
            left: 10%;
        }
        .img5 {
            top: 80%;
            right: 10%
        }
        .img6 {
            top: 40%;
            left: 10%;
        }
        .img7 {
            top: 20%;
        }
        .img8 {
            top: 0;
            right: 3%;
        }
    }
}

.diagnostic-wrapper {
    width: 100%;
    background-color: var(--white);
    padding: 50px 0px;
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .diagnostic-header {
            span {
                font-size: 3rem;
                font-weight: 600;
                color: var(--primary);
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 40%;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: var(--primary);
                    height: 3px;
                    border-radius: 10px;
                }
            }
        }

        .diagnostic-subtitle {
            font-size: 5rem;
            font-weight: 700;
        }

        .features {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .feature {
                width: 30%;
                padding: 20px;
                background-color: #F6F9FF;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                gap: 10px;
                border-radius: 20px;

                .feature-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;

                    .feature-symbol {
                        width: 80px;
                        height: 80px;
                        // background-color: var(--primary);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;
                        border-bottom-right-radius: 0;
                        svg {
                            font-size: 4rem;
                            color: var(--white);
                        }
                    }

                    .feature-title {
                        font-size: 2rem;
                        font-weight: 600;
                        position: relative;
                        transition: color .2s ease-out;
                        &::after {
                            content: '';
                            width: 0;
                            position: absolute;
                            height: 1px;
                            top: 100%;
                            left: 0;
                            background-color: var(--primary);
                            transition: width .2s ease-out;
                        }

                        &:hover {
                            color: var(--primary);

                            &::after {
                                width: 90%;
                            }
                        }
                    }
                    
                }

                

                .try-now {
                    background-color: var(--primary);
                    padding: 15px 30px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: var(--white);
                    transition: all .3s ease-out;
                    border-radius: 10px;

                    svg {
                        transition: all .3s ease-out;
                    }

                    &:hover {
                        background-color: var(--black);

                        svg {
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }

    

        
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}